:root{
    --lightRed: hsl(0, 100%, 67%);
    --orangeyYellow: hsl(39, 100%, 56%);
    --greenTeal: hsl(166, 100%, 37%);
    --cobaltBlue: hsl(234, 85%, 45%);
    --lightSlateBlue-background: hsl(252, 100%, 67%);
    --lightRoyalBlue-background: hsl(241, 81%, 54%);
    --violetBlue-circle: hsla(256, 72%, 46%, 1);
    --persianBlue-circle: hsla(241, 72%, 46%, 0);
    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --darkGrayBlue: hsl(224, 30%, 27%);
  }

  .btn-continue{
    background-color: var(--darkGrayBlue);
    width: 100%;
    padding: 1rem;
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 2rem;
    border: none;
    margin-top: 1rem;
  }

  .btn-continue:hover{
    background-color: var(--lightRoyalBlue-background);
    cursor: pointer;
  }

  @media (min-width:650px) {
    .btn-continue{
      padding: 0.6rem;
      font-size: 0.8rem;
      font-weight: 400;
    }
  }