:root{
    --lightRed: hsl(0, 100%, 67%);
    --orangeyYellow: hsl(39, 100%, 56%);
    --greenTeal: hsl(166, 100%, 37%);
    --cobaltBlue: hsl(234, 85%, 45%);
    --lightSlateBlue-background: hsl(252, 100%, 67%);
    --lightRoyalBlue-background: hsl(241, 81%, 54%);
    --violetBlue-circle: hsla(256, 72%, 46%, 1);
    --persianBlue-circle: hsla(241, 72%, 46%, 0);
    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --darkGrayBlue: hsl(224, 30%, 27%);
  }

.container-result{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  border-radius: 0.8rem;
  padding: 1rem;
}

.item{
  font-weight: 800;
  margin-left: 0.5rem;
}

.reaction{
  background-color: hsla(0,100%,67%,0.1);
}

.memory{
  background-color: hsla(39, 100%, 56%,0.1);
}

.verbal{
  background-color: hsla(166, 100%, 37%, 0.1);
}

.visual{
  background-color: hsla(234, 85%, 45%, 0.1);
}

.pReaction{
  color: var(--lightRed);
}

.pMemory{
  color: var(--orangeyYellow);
}

.left{
  display: flex;
}

.first{
  color: var(--darkGrayBlue);
  font-weight: 800;
}

.second{
  color: var(--lightLavender);
  font-weight: 800;
}

@media (min-width:650px) {
  .container-result{
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}