: root{
  --lightRed: hsl(0, 100%, 67%);
  --orangeyYellow: hsl(39, 100%, 56%);
  --greenTeal: hsl(166, 100%, 37%);
  --cobaltBlue: hsl(234, 85%, 45%);
  --lightSlateBlue-background: hsl(252, 100%, 67%);
  --lightRoyalBlue-background: hsl(241, 81%, 54%);
  --violetBlue-circle: hsla(256, 72%, 46%, 1);
  --persianBlue-circle: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --paleBlue: hsl(221, 100%, 96%);
  --lightLavender: hsl(241, 100%, 89%);
  --darkGrayBlue: hsl(224, 30%, 27%);
}

body{
  font-family: 'Hanken Grotesk', sans-serif;
}

.app{
  max-width: 550px; 
}


@media (min-width:650px) {
  .app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -20px 0 120px var(--paleBlue);
    width: 100%;
  }

  .app{
    max-width: 800px;
    width: 65%;
  }
}
